a {
  text-decoration: none;
  outline: none;
  color: #222;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}


h4,
h5,
h6 {
  font-weight: bold;
}

body {
  background-color: #f3f3f3;
  color: #5B5B5B;
  font-size: medium;
  font-family: 'Roboto', sans-serif;

}



.main {
  background-color: white;
  width: 100%;
  margin: 20px auto;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1000px;
}


.left-side {
  background-color: #1d3251;
  color: #FFF;
  height: 100%;
  padding: 40px 20px;
}

.left-side .avatar {
  padding: 5px;
  width: auto;
  max-width: 200px;
  margin: auto;
  color: #444;
  text-align: center;
}

.left-side .avatar img {
  width: 100%;
  border-radius: 50%;
}

.left-side .avatar h3 {
  font-size: 1rem;
  margin-bottom: 0px;
  padding: 5px;

}

.left-side .title {
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #fff;
}

.left-side .contact-box {
  display: flex;
  padding: 10px 0px;

}

.left-side .contact-box .icon {
  padding: 10px;
}

.main .left-side .contact-box .icon i {
  padding: 10px;
  border: 1px solid #FFF;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.left-side .contact-box .detail {
  font-size: .9rem;
  margin: auto 0;
}

.left-side .contact-box .detail a {
  color: white;
}

.left-side .pb0 {
  padding-bottom: 0px;
}

.left-side .section {
  margin: 30px 0px;
}

.left-side .social-link{
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-side .social-link li {
  padding: 10px 15px;
  display: inline;
  
}

.left-side .social-link li a {
  color: white
}

.left-side .refer-cov {
  padding: 8px;
}
.left-side .refer-cov b {
  font-size: .9rem;
}

.left-side .refer-cov p {
  font-size: .8rem;
}

.left-side .refer-cov span {
  font-size: .9rem;
}

.left-side .hoby li {
  float: left;
  font-size: .9rem;
  padding: 15px;
  text-align: center;
  width: 33.33%;
}

.left-side .hoby li i {
  font-size: 22px;
  margin-bottom: 15px;
}


.left-side .skill {
  margin: 10px 0;  
}

.right-side {
  padding: 30px 30px;
  text-align: justify;
}

.right-side .job-title {
  text-align: right;
}

.right-side .job-title h1 {
  width: 100%;
  text-align: right;
  color: #c7c2c2;
}


.right-side .title {
  border-bottom: 2px solid #CCC;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 5px;
}

.right-side .title i {
  font-size: 20px;
  margin-right: 5px;
}

.right-side .objective {
  text-align: justify;
  padding: 5px 0px;
}


.right-side .project-section {
  padding: 5px 0px;
}

.right-side .project-section h6 {
  margin-bottom: 0px;
}

.right-side .project-section h6 span {
  float: right;
}

.right-side .project-section ul {
  padding: 5px 0px;
}

.right-side .project-section ul li {
  padding-left: 5px;
  padding-bottom: 5px;
}

.right-side .project-section ul li i {
  margin-right: 5px;
}

.right-side .education {
  padding: 20px 0px;

}

.right-side .education ul li {
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 10px 15px;
  font-size: .9rem;
  margin-right: 5px;
}









