a {
  text-decoration: none;
  outline: none;
  color: #2b2b2b;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

h4,
h5,
h6 {
  font-weight: bold;
}

body {
  background-color: #f3f3f3;
  color: #2b2b2b;
  font-size: medium;
  font-family: 'Roboto', sans-serif;

}



.main {
  display: grid;
  grid-template-rows: auto auto;
  /* background-color: white; */
  width: 100%;
  margin: 20px auto;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1000px;
  row-gap: 20px;
}

/* .second-page {
  max-height: 95rem;
} */

.main>div {
  background-color: white;
  padding: 20px;
}

.second-page {
  min-height: 90rem;
}

.container {
  padding: 30px 30px;
  text-align: justify;
}

.container .job-title {
  text-align: center;
}

.container .job-title h1 {
  width: 100%;
  text-align: right;
  color: #c7c2c2;
}

.container .job-title p {
  margin: 0px;
}

.container .content-section {
  display: grid;
  grid-template-columns: 7cm auto;
  column-gap: 20px;
  border-top: 2px solid #CCC ;
  padding: 10px 0; 
  margin-right: 5px;
}


.container .title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 5px;
  margin-right: 20px;
}

.container .title i {
  font-size: 18px;
  margin-right: 5px;
}

.container .content-section .description {
  align-items: end;
}

.container .objective-content {
  text-align: justify;
  padding: 5px 0px;
}


.container .list-section {
  padding: 10px 0px;
}

.container .list-section h6 {
  margin-bottom: 0px;
}

.container .list-section
 h6 span {
  float: right;
}

.container .list-section ul {
  padding: 5px 0px;
}

.container .list-section ul li {
  padding-left: 5px;
  padding-bottom: 5px;
  list-style-type: disc;
}

.container .list-section ul li i {
  margin-right: 5px;
}

.item-box {
  display: flex;
  padding: 10px 0; 
  font-size: .9rem;
  margin-right: 5px;
}

.item-box span {
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 20px;
  width: 22rem;
  margin: 0px 10px;
}

.project-description {
  display: flex;
  padding: 5px;
  max-height: fit-content;
}
.project-description p {
  font-weight: bold;
  margin-right: 5px;
}

.product-list-indent{
  padding-left: 1em
}